﻿<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="profile-image">
                    <img src="https://i.hizliresim.com/iz6inlu.jpg" alt="image" />
                </div>
                <div class="profile-name">
                    <p class="name">
                        Hoşgeldin Sümeyye Nur
                    </p>
                    <p class="designation">
                        Süper Admin
                    </p>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Statistics/">
                <i class="fa fa-puzzle-piece menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Category/CategoryList/">
                <i class="fa fa-anchor menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListOrderByCustomerName/">
                <i class="far fa-file-alt menu-icon"></i>
                <span class="menu-title">Müşteri Listesi (İsme Göre)</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListOrderByDescBalance/">
                <i class="fa fa-bolt menu-icon"></i>
                <span class="menu-title">Müşteri Listesi (Bakiyeye Göre)</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerGetByCity/">
                <i class="fa fa-certificate menu-icon"></i>
                <span class="menu-title">Şehre Göre Arama</span>
            </a>
        </li>

       @*  <li class="nav-item">
            <a class="nav-link" href="/Product/ProductList/">
                <i class="fa fa-coffee menu-icon"></i>
                <span class="menu-title">Ürün Listesi</span>
            </a>
        </li> *@

        <li class="nav-item">
            <a class="nav-link" href="/Product/First5ProductList/">
                <i class="fa fa-compass menu-icon"></i>
                <span class="menu-title">Ürün Listesi (İlk 10 Ürün)</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Product/Skip4ProductLisy/">
                <i class="fa fa-cubes menu-icon"></i>
                <span class="menu-title">Ürün Listesi (4 Ürün)</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderList/">
                <i class="fa fa-fighter-jet menu-icon"></i>
                <span class="menu-title">Sipariş Listesi</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Order/AllStockSmallerThen5/">
                <i class="fa fa-flag-checkered menu-icon"></i>
                <span class="menu-title">Sipariş Listesi (Stok Sayısı < 5)</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListByStatus/">
                <i class="fa fa-gamepad menu-icon"></i>
                <span class="menu-title">Duruma Göre Sipariş Listesi</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListSearch/">
                <i class="fa fa-lemon menu-icon"></i>
                <span class="menu-title">Sipariş Arama</span>
            </a>
        </li>
    </ul>
</nav>