
    @{
        ViewData["Title"] = "ProductCount";
        Layout = "~/Views/Layout/Index.cshtml";
    }
    <h1>Toplam Ürün Sayısı</h1>
    <br />
    <h1>@ViewBag.v</h1>
    <br />
    <h1>En Son Eklenen Ürün:</h1>
    <h1>@ViewBag.v2</h1>