@model Product

@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ürün Güncelleme Sayfası</h4>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <input type="hidden" asp-for="ProductId" />
                        <label for="exampleInputName1">Ürün Adı</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Kategori Adını Yazınız" asp-for="ProductName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Ürün Fiyatı</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Ürün Fiyatını Giriniz" asp-for="ProductPrice">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Kategori Seçiniz</label>
                        <select asp-for="CategoryId" asp-items="@ViewBag.categories" class="form-control">
                            <option value="">-- Kategori Seçiniz --</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Stok Sayısı</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Stok Sayısını Giriniz..." asp-for="ProductStock">
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Ürünü Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>