@model List<string>
@{
    ViewData["Title"] = "CustomerIntersectByCity";
    Layout = "~/Views/Layout/Index.cshtml";
}

<h1>Kesişim Kümesi Ankara - İstanbul Olan Müşteriler</h1>

<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>