@model List<CustomerCityGroup>

@{
    ViewData["Title"] = "CustomersByCityCount";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Müşteri Şehir Listesi</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Şehir Adı</th>
                                <th>Müşteri Sayısı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>@item.City</th>
                                    <td>@item.CustomerCount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>