@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "CustomerListWithIndex";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Müşteri Listesi - Index</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Müşteri Adı</th>
                                <th>Müşteri Soyadı</th>
                                <th>Müşteri Şehri</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>@item.SiraNo</th>
                                    <td>@item.CustomerName</td>
                                    <td>@item.CustomerSurname</td>
                                    <td>@item.CustomerCity</td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>