
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

 @await Component.InvokeAsync("_HeadDashboardComponentPartial")
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @await Component.InvokeAsync("_NavbarDashboardComponentPartial")
      
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            @await Component.InvokeAsync("_ThemeSettingsWrapperDashboardComponentPartial")
            @await Component.InvokeAsync("_RightSidevarDashboardComponentPartial")
            @await Component.InvokeAsync("_SidevarDashboardComponentPartial")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            Dashboard
                        </h3>
                    </div>
                    @await Component.InvokeAsync("_CardStatisticsDashboardComponentPartial")
                    @await Component.InvokeAsync("_ChartDashboardComponentPartial")
                    <div class="row">
                        @await Component.InvokeAsync("_SalesStatusDashboardComponentPartial")
                        @await Component.InvokeAsync("_ActivityDashboardComponentPartial")
                        @await Component.InvokeAsync("_DailySalesDashboardComponentPartial")
                    </div>
                    @await Component.InvokeAsync("_Last5MessagesDashboardComponentPartial")
                    <div class="row">
                        @await Component.InvokeAsync("_SalesDataDashboardComponentPartial")
                    </div>
                    <div class="row">
                        @await Component.InvokeAsync("_TodoDashboardComponentPartial")
                        @await Component.InvokeAsync("_Last5ProductsDashboardComponentPartial")
                    </div>
                </div>
                @await Component.InvokeAsync("_FooterDashboardComponentPartial")
            </div>
        </div>
    </div>
        @await Component.InvokeAsync("_ScriptsDashboardComponentPartial")
</body>
</html>
