﻿
    @{
        ViewData["Title"] = "TodoAggreagatePriority";
        Layout = "~/Views/Layout/Index.cshtml";
    }

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    @ViewBag.results
                </div>
            </div>
        </div>
    </div>    Layout = "_Layout";
}
