﻿
    @{
        ViewData["Title"] = "AllStockSmallerThen5";
        Layout = "~/Views/Layout/Index.cshtml";
    }

    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tüm Stoklar 5 ve 5'den Küçük mü?</h4>
                    <br />
                    <div class="alert alert-success">@ViewBag.v</div>
                    <br />

                </div>
            </div>
        </div>
    </div>